/* Add your custom styles for the Material-UI components here */
.logo {
  flex-grow: 1;
}

.hero-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/images/cover.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
