.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.heading {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.subheading {
  font-size: 24px;
  margin-bottom: 10px;
}

.facebookTextarea  {
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  resize: vertical;
  min-height: 150px;
  width: 100%;
  margin-bottom: 20px;
}


.button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  margin-right: 10px;
}

.button:hover {
  background-color: #3e8e41;
}



.pre {
  white-space: pre-wrap;
  word-break: break-word;
  font-size: 18px;
  line-height: 24px;
}
