/* styles.module.css */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('/images/blockchain.png');
  }
  
  .loginForm {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }
  
  .title {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .input {
    width: 280px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  .verifiedText {
    color: green;
  }

  .stake {
    width: 80px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #7a05da;
    color: #fff;
    cursor: pointer;
  }

  .stake:hover {
    background-color: #9137e6;
  }

  .staked {
    width: 80px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #05a872;
    color: #fff;
    cursor: pointer;
  }

  .staked:hover {
    background-color: #27c28e;
  }

  .notstaked {
    width: 80px;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #c2450a;
    color: #fff;
    cursor: pointer;
  }

  .notstaked:hover {
    background-color: #e94e4e;
  }